:root{
     --orange-color: #FC8868;
     --green-colorr: #3A8375;
     --black-color: #000000;
     --grey-color: #ADADAD;
     --banner-black-color: #24201D;
     --card-black-color: #040405;
     --white-color: #ffffff;
}

body {
     font-family: 'Poppins';
     color: var(--black-color);
     font-weight: 400;
}

.fw-opacity {
     opacity: 0.5;
}


.btn-login {
     color: var(--black-color);
     font-size: 20px;
     font-weight: 600;
     margin-right: 30px;
}

.btn-register {
     width: 100px;
     height: 50px !important;
     background-color: var(--orange-color);
     border-radius: 12px;
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     -ms-border-radius: 12px;
     -o-border-radius: 12px;
     color: var(--white-color);
     font-size: 16px;
     font-weight: 600;
     transition: 0.3s;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -ms-transition: 0.3s;
     -o-transition: 0.3s;
}

.btn-register:hover {
     border: 2px solid var(--orange-color);
}

.btn-login:hover {
     color: var(--grey-color);
}



/* carousel */
/* .carousel-item-second::after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top ,rgba(0,0,0,1), rgba(0,0,0,0));
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
} */

.button-carousel {
     position: relative;
     top: -120px;
     left: 50px;
     z-index: 999;

}

.carousel-control-next-custom, .carousel-control-prev-custom{
    
    
     height: 40px;
     width: 40px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      border: 2px solid #000000 ;
      background-color: transparent;
      opacity: 0.5;
     
 }

.carousel .carousel-item {
     height: 350px;
     border-radius: 30px;
     padding-left: 50px;
     padding-top: 50px;
     background-size: cover;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     -ms-border-radius: 30px;
     -o-border-radius: 30px;
}

/* .carousel .content-carousel::before {
     background-image: url(../assets/Hero\ Picture.png);
          background-size: 100%;
          background-repeat: no-repeat; 
     background-position: left;
} */

.carousel-item h1{
     font-size: 40px;
     font-weight: bold;
     color: var(--banner-black-color)
}


 



.carousel-control-next-custom:hover, .carousel-control-prev-custom:hover{
     background-color: white;
     opacity: 1;
     color: white;
   
}

/* end carousel */

/* info-panel */
.info-panel {
     max-width: 1050px;
     background-color: var(--white-color);
     position: relative;
     padding-top: 40px;  
     padding-bottom: 64px;
     margin-left: 40px;
    
}

.info-panel h3 {
     font-size: 20px;
     font-weight: bold;
}

.info-panel p {
     font-size: 14px;
     opacity: 50%;
     margin-right: 30px;
     font-weight: 500;
     
}

.btn-search {
     height: 70px;
     width: 70px;
     background-color: var(--orange-color);
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
}



.btn-search:hover {
     background-color: rgba(252, 136, 104, 0.7);
}

.carousel-control-prev-custom,carousel-control-prev-custom{
     opacity: 0.5;
}


/* end info-panel */

/* recommended building */
.recomended-building {
     /* background-color: grey; */
     min-height: 500px;
     position: relative;
     /* background-color: #ADADAD; */
     
}
.section-title {
     margin-top: 50px;
}

.section-title h3 {
     font-size: 26px;
     font-weight: bold;
}

.section-title p{
     font-size: 16px;
     opacity: 0.5;
     margin-top: 10px;
     font-weight: 600;
}
.section-recomended-building{
     margin-top: 50px;
    
}

.section-recomended-building .card {
     width: 100%;
     max-height: 322px;
     padding: 20px;
     border: 1px solid #FEFEFE;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     transition: 0.3s;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -ms-transition: 0.3s;
     -o-transition: 0.3s;
     margin-bottom: 20px;
}
.section-recomended-building .card.active {
     border: 2px solid var(--green-colorr);
} 

.section-recomended-building .card:hover {
     border: 2px solid var(--green-colorr);
} 

.section-recomended-building .card img{
     width: 100%;
     height: 200px;
     border-radius: 10;
     -webkit-border-radius: 10;
     -moz-border-radius: 10;
     -ms-border-radius: 10;
     -o-border-radius: 10;
}
.section-recomended-building .card  .card-body {
    padding: 0;
    margin-top: 15px;
}
.section-recomended-building .card  h5 {
     font-size: 20px;
     font-weight: 500;
    
}
.section-recomended-building .card  h5.card-price {
     color: var(--green-colorr);
    
}

.section-recomended-building .card  span {
     font-size: 14px;
     font-weight: 500;
     color: var(--grey-color);
}

.section-recomended-building .card  .card-hour {
     font-size: 12px;
     font-weight: 500;
     color: var(--grey-color);
}

.section-recomended-building .card .ratting {
     width: 40px;
     height: 20px;
     background-color: #DAFFF8;
     border: 1px solid #3A8375;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
    position: absolute;
     top: 0;
     right: 0;
     margin-top: 40px;
     margin-right: 40px;

   
}

.section-recomended-building .card .ratting span {
     color: #3A8375;
     font-size: 12px;
     font-weight: 600;
}


.section-recomended-building .card .price span {
     font-size: 24px;
     font-weight: 500;
     color: var(--green-colorr);
}
.section-recomended-building .card  .price p {
     font-size: 12px;
     font-weight: 500;
     color: var(--grey-color);
     margin-top: 0px;
}
/* recommended building */

/* section gallery */
/* gallery */
.gallery-item {
     --bs-columns : 3;
     --bs-rows : 2;
     grid-template-rows:repeat(auto-fit, minmax(100px));
}

.gallery-item > div:nth-child(1){
     grid-row: 1/3;
}
.gallery-item > div:nth-child(2){
     grid-row: 1/3;
}

section.gallery{
     margin-top: 50px;
     position: relative;
}

.gallery-item {

     grid-template-rows:repeat(auto-fit, minmax(100px));
}





.gallery .img-fluid {
    height: 100% ; 
     width: 100% !important;
     object-fit: cover;
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
}

.gallery-item-img {
     position: relative;
   
}

.gallery-item-img a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    opacity: 0;
}

.gallery-item-img:hover a,  .gallery-item-img:hover .action-gallery{
     opacity: 1;
}


 .gallery-item-img a img {
     margin-top: 300px;
 }

.section-body-gallery {
     margin-top: 50px;
     position: relative;
}

.gallery-item-img .action-gallery {
  
    width: 100%;
    position: absolute;
    top: 0;
    padding-top: 50px;
    padding-left: 30px ;
    padding-bottom: 50px;
    z-index: 2;
   opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}



.gallery-item-img .action-gallery h3 {
     color: white;
     font-size: 20px;
     font-weight: 600;
}

.gallery-item-img .action-gallery .name-places {
     font-size: 14px;
     color: var(--grey-color);
     font-weight: 500;
}

.gallery-item-img .ratting-gallery {
     margin-right: 7px;
     width: 50px;
     height: 30px;
     border-radius: 30px 0px 0px 30px ;
     -webkit-border-radius: 30px 0px 0px 30px ;
     -moz-border-radius: 30px 0px 0px 30px ;
     -ms-border-radius: 30px 0px 0px 30px ;
     -o-border-radius: 30px 0px 0px 30px ;
     background-color: #DAFFF8;
    
     font-size: 12px;
     font-weight: 600;
     z-index: 2;
}


/* version ii */
.gallery-item-img-mobile {
     position: relative;
     width: 100%;
     /* border: 1px solid #000000; */
} 



.gallery-item-img-mobile .action-gallery {
   width: 100%;
    position: absolute;
   
    top: 0;
    padding-top: 25px;
    padding-left: 30px ;
    padding-bottom: 50px;
    z-index: 2;
   opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}

.gallery-item-img-mobile a img {
     margin-top: 140px;
     height: 60px;
     width: 60px;
 }

.gallery-item-img-mobile a{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: 4px;
     background-color: rgba(0, 0, 0, 0.7);
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
     transition: opacity 0.3s;
     -webkit-transition: opacity 0.3s;
     -moz-transition: opacity 0.3s;
     -ms-transition: opacity 0.3s;
     -o-transition: opacity 0.3s;
     opacity: 0;
 }
 
 .gallery-item-img-mobile:hover a,  .gallery-item-img-mobile:hover .action-gallery{
      opacity: 1;
 }



.gallery-item-img-mobile .action-gallery h3 {
     color: white;
     font-size: 20px;
     font-weight: 600;
}

.gallery-item-img-mobile .action-gallery .name-places {
     font-size: 14px;
     color: var(--grey-color);
     font-weight: 500;
}

.gallery-item-img-mobile .ratting-gallery {
     margin-right: 7px;
     width: 50px;
     height: 30px;
     border-radius: 30px 0px 0px 30px ;
     -webkit-border-radius: 30px 0px 0px 30px ;
     -moz-border-radius: 30px 0px 0px 30px ;
     -ms-border-radius: 30px 0px 0px 30px ;
     -o-border-radius: 30px 0px 0px 30px ;
     background-color: #DAFFF8;
    
     font-size: 12px;
     font-weight: 600;
     z-index: 2;
}
/* version ii */

/* gallery */

/* section gallery */


/* mobile version */
/* @media (max-width: 576px) {
     
} */
/* mobile version */



/* DEKSTOP VERSION */
@media (min-width: 992px) { 

     /* navbar  */
     .navbar {
          margin-top: 40px;
     }
     /* end navbar  */

     .btn-register {
          width: 140px;
          height: 50px !important;
          background-color: var(--orange-color);
          border-radius: 12px;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
          color: var(--white-color);
          font-size: 20px;
          font-weight: 600;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
     }

    .carousel {
     max-height: 500px;
     margin-top: 30px;
    }
    .button-carousel {
     position: relative;
     top: -155px;
     left: 100px;
     z-index: 999;

}
    .carousel .carousel-item {
     height: 500px;
     border-radius: 50px;
     padding-left: 100px;
     padding-top: 100px;
     background-size: cover;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
}
     .carousel-item h1{
         
          font-size: 70px;
          font-weight: bold;
          color: var(--banner-black-color)
     }

     
      

     /* info panel */
     .info-panel {
          height: 150px;
          max-width: 1100px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          background-color: var(--white-color);

          position: relative;
          margin-top: -40px;
          padding-top: 40px;
          padding-left: 50px;
          padding-right: 50px;
          padding-bottom: 64px;
          z-index: 99;
          /* margin-left: 100px; */
        
     }
     .card-panel.activity {
          margin-left: 40px;
          margin-right: 40px;
     }
     .card-panel {
          border-right: 3px solid #E3E3E3;
          height: 50px;
          margin-bottom: 40px;
     }
     .btn-search {
          margin-top: -10px;
          margin-left: 120px;
        }
     
     /* info panel */

     /* recomded-space */
     .section-recomended-building .card {
          max-width: 375px;
          height: 322px;
          padding: 20px;
          border: 1px solid #FEFEFE;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
     }
     /* recomded-space */

     /* gallery */
     .gallery-item {
          --bs-columns : 3;
          --bs-rows : 2;
          grid-template-rows:repeat(auto-fit, minmax(100px));
     }
     
     .gallery-item > div:nth-child(1){
          grid-row: 1/3;
     }
     .gallery-item > div:nth-child(2){
          grid-row: 1/3;
     }

     section.gallery{
          margin-top: 50px;
          position: relative;
     }
     
     .gallery-item {
          --bs-columns : 3;
          --bs-rows : 2;
          grid-template-rows:repeat(auto-fit, minmax(100px));
     }
     
     .gallery-item > div:nth-child(1){
          grid-row: 1/3;
     }
     .gallery-item > div:nth-child(2){
          grid-row: 1/3;
     }
     
     
     .gallery .img-fluid {
         height: 100% ; 
          width: 100% !important;
          object-fit: cover;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
     }
     
     .gallery-item-img {
          position: relative;
        
     }
     
     .gallery-item-img a{
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         margin: 4px;
         background-color: rgba(0, 0, 0, 0.7);
         border-radius: 15px;
         -webkit-border-radius: 15px;
         -moz-border-radius: 15px;
         -ms-border-radius: 15px;
         -o-border-radius: 15px;
         transition: opacity 0.3s;
         -webkit-transition: opacity 0.3s;
         -moz-transition: opacity 0.3s;
         -ms-transition: opacity 0.3s;
         -o-transition: opacity 0.3s;
         opacity: 0;
     }
     
     .gallery-item-img:hover a,  .gallery-item-img:hover .action-gallery{
          opacity: 1;
     }
     
     
      .gallery-item-img a img {
          margin-top: 300px;
      }
     
     .section-body-gallery {
          margin-top: 50px;
          position: relative;
     }
     
     .gallery-item-img .action-gallery {
       
         width: 100%;
         position: absolute;
         top: 0;
         padding-top: 50px;
         padding-left: 30px ;
         padding-bottom: 50px;
         z-index: 2;
        opacity: 0;
         transition: opacity 0.3s;
         -webkit-transition: opacity 0.3s;
         -moz-transition: opacity 0.3s;
         -ms-transition: opacity 0.3s;
         -o-transition: opacity 0.3s;
     }
     
     
     
     .gallery-item-img .action-gallery h3 {
          color: white;
          font-size: 20px;
          font-weight: 600;
     }
     
     .gallery-item-img .action-gallery .name-places {
          font-size: 14px;
          color: var(--grey-color);
          font-weight: 500;
     }
     
     .gallery-item-img .ratting-gallery {
          margin-right: 7px;
          width: 50px;
          height: 30px;
          border-radius: 30px 0px 0px 30px ;
          -webkit-border-radius: 30px 0px 0px 30px ;
          -moz-border-radius: 30px 0px 0px 30px ;
          -ms-border-radius: 30px 0px 0px 30px ;
          -o-border-radius: 30px 0px 0px 30px ;
          background-color: #DAFFF8;
         
          font-size: 12px;
          font-weight: 600;
          z-index: 2;
     }
     
     
     /* version ii */
     .gallery-item-img-mobile {
          position: relative;
          width: 100%;
          /* border: 1px solid #000000; */
     } 
     
     
     
     .gallery-item-img-mobile .action-gallery {
        width: 100%;
         position: absolute;
        
         top: 0;
         padding-top: 25px;
         padding-left: 30px ;
         padding-bottom: 50px;
         z-index: 2;
        opacity: 1;
         transition: opacity 0.3s;
         -webkit-transition: opacity 0.3s;
         -moz-transition: opacity 0.3s;
         -ms-transition: opacity 0.3s;
         -o-transition: opacity 0.3s;
     }
     
     .gallery-item-img-mobile a img {
          margin-top: 140px;
          height: 60px;
          width: 60px;
      }
     
     .gallery-item-img-mobile a{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 4px;
          background-color: rgba(0, 0, 0, 0.7);
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          transition: opacity 0.3s;
          -webkit-transition: opacity 0.3s;
          -moz-transition: opacity 0.3s;
          -ms-transition: opacity 0.3s;
          -o-transition: opacity 0.3s;
          opacity: 0;
      }
      
      .gallery-item-img-mobile:hover a,  .gallery-item-img-mobile:hover .action-gallery{
           opacity: 1;
      }
     
     
     
     .gallery-item-img-mobile .action-gallery h3 {
          color: white;
          font-size: 20px;
          font-weight: 600;
     }
     
     .gallery-item-img-mobile .action-gallery .name-places {
          font-size: 14px;
          color: var(--grey-color);
          font-weight: 500;
     }
     
     .gallery-item-img-mobile .ratting-gallery {
          margin-right: 7px;
          width: 50px;
          height: 30px;
          border-radius: 30px 0px 0px 30px ;
          -webkit-border-radius: 30px 0px 0px 30px ;
          -moz-border-radius: 30px 0px 0px 30px ;
          -ms-border-radius: 30px 0px 0px 30px ;
          -o-border-radius: 30px 0px 0px 30px ;
          background-color: #DAFFF8;
         
          font-size: 12px;
          font-weight: 600;
          z-index: 2;
     }
     /* version ii */
     
     /* gallery */


    

    
     
 }







